* {
  margin: 0;
  padding: 0;
}
html{
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(#0f172a, #0f172a);
}

nav {
  background-color: #1e293b;
  /* https://smoothshadows.com/#djEsMSw1LDAuNjQsMzcsMzEsMCwjMDMwNzEyLCNmM2Y0ZjYsI2ZmZmZmZiwy */
  box-shadow: 0px 1px 1px rgba(3, 7, 18, 0.13),
    0px 5px 6px rgba(3, 7, 18, 0.26),
    0px 11px 13px rgba(3, 7, 18, 0.38),
    0px 20px 24px rgba(3, 7, 18, 0.51),
    0px 31px 37px rgba(3, 7, 18, 0.64);
  border-radius: 25px;
  margin-bottom: 40px;
}

nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav li {
  height: 85px;
}

nav a {
  height: 100%;
  padding: 0 35px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #ffffffe5;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 20px;
}

nav a:hover {
  width: 100px;
  height: 75px;
  background: linear-gradient(45deg, #3f0552, #cb30fa);
  transition: .6s;
  border-radius: 8px;
}

nav li:first-child {
  margin-right: auto;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 270px;
  background-color: rgba(61, 61, 61, 0.096);
  backdrop-filter: blur(12px);
  /* https://smoothshadows.com/#djEsMSw1LDAuNjQsMzcsMjUsLTEwLCMwMzA3MTIsI2YzZjRmNiwjZmZmZmZmLDM%3D */
  box-shadow: -0px 1px 1px rgba(3, 7, 18, 0.13),
    -2px 4px 6px rgba(3, 7, 18, 0.26),
    -4px 9px 13px rgba(3, 7, 18, 0.38),
    -6px 16px 24px rgba(3, 7, 18, 0.51),
    -10px 25px 37px rgba(3, 7, 18, 0.64);
  list-style: none;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.sidebar li {
  width: 100%;
}

.sidebar a {
  width: 100%;
}

.menu-button {
  display: none;
}

@media(max-width: 800px) {
  .hideOnMobile {
    display: none;
  }

  .menu-button {
    display: block;
  }
}

@media(max-width: 450px) {
  .sidebar {
    width: 100%;
  }
}

.content-wrap {
  height: 2800px;
  width: 90%;
  margin: auto;
  background-color: #1e293b;
  border-radius: 25px;
  box-shadow: inset 5.00px -5.18px 10.18px -1.27px rgba(0, 0, 0, 0.15),
    inset -7.50px 7.77px 10.18px -1.27px rgba(0, 0, 0, 0.3),
    15.00px -15.54px 7.64px -3.82px rgba(0, 0, 0, 0.6);
}

.footer {
  color: #ffffff9f;
  font-size: 15px;
  margin-top: 50px;
  margin-left: 35%;
}


/*
  Home styling
*/
.content-wrap {
  padding-top: 40px;
  padding-right: 40px;
}

.left {
  width: 295px;
  height: 310px;
  margin-left: 13%;
  margin-bottom: -400px;
  border-radius: 45%;
  box-shadow: inset 2.48px 5.68px 8.16px -1.02px rgba(0, 0, 0, 0.15),
    inset -3.71px -8.53px 8.16px -1.02px rgba(0, 0, 0, 0.3),
    7.43px 17.05px 6.12px -3.06px rgba(0, 0, 0, 0.6);
}

.right {
  padding-right: 15px;
  padding-bottom: 50px;
  padding-left: 30px;
  box-shadow: inset 2.48px 5.68px 8.16px -1.02px rgba(0, 0, 0, 0.15),
    inset -3.71px -8.53px 8.16px -1.02px rgba(0, 0, 0, 0.3),
    7.43px 17.05px 6.12px -3.06px rgba(0, 0, 0, 0.6);
}

.neon h1 {
  margin-left: 40%;
  color: #ffffff9f;
  text-transform: uppercase;
}

.right p {
  padding-top: 10px;
  line-height: 1.9;
  margin-bottom: 2rem;
}

.right {
  color: #ffffff9f;
  margin-left: 40%;
  margin-top: 35px;
}

.right .bottom-h1 {
  font-size: 3.1rem;
  margin-bottom: 0.5rem;
  letter-spacing: 1px;
  color: #ce3dd3;
  font-weight: 500;
  text-transform: uppercase;
  text-shadow: 0 0 5px #fff,
    0 0 10px #fff,
    0 0 40px rgb(0, 60, 255),
    0 0 80px rgb(0, 26, 255);
}

.bottom-h1 span {
  animation: flicker 3500ms linear infinite;
}

.bottom-h1 .delay-1 {
  animation-delay: 1.8s;
}

.bottom-h1 .delay-2 {
  animation-delay: 5.8s;
}

.bottom-h1 .delay-3 {
  animation-delay: 8.8s;
}

@keyframes flicker {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  20% {
    opacity: 0;
  }

  40% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  60% {
    opacity: 1;
  }

  80% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.right h1 {
  font-size: 4rem;
  font-weight: 100;
  line-height: 1.2;
}

.cv-download-btn {
  font-size: 20px;
  color: #ffffff9f;
  height: 5rem;
  width: 10rem;
  border: none;
  background-color: #ce3dd3;
  border-radius: 46px;
  box-shadow: inset -0.65px 5.96px 6.62px -0.83px rgba(0, 0, 0, 0.15),
    inset 0.98px -8.95px 6.62px -0.83px rgba(0, 0, 0, 0.3),
    -1.96px 17.89px 4.96px -2.48px rgba(0, 0, 0, 0.6);
}

.header {
  height: 550px;
}

.about-me {
  height: 500px;
  padding: 6rem 0;
  background: rgba(0, 0, 0, 0.548);
  /* https://smoothshadows.com/#djEsMSw1LDAuNjQsMzcsMjUsMTksIzAzMDcxMiwjZTZlNmU2LCNjN2M3YzcsMw%3D%3D */
  box-shadow: inset -3.94px 4.78px 8.73px -1.09px rgba(0, 0, 0, 0.15),
    inset 5.91px -7.18px 8.73px -1.09px rgba(0, 0, 0, 0.3),
    -11.83px 14.35px 6.55px -3.27px rgba(0, 0, 0, 0.6);
  border-radius: 15px 15px;
  margin-left: 5%;
}

.about-image {
  width: 355px;
  height: 500px;
  box-shadow: #000000;
  margin-left: 5%;
  box-shadow: inset -4.58px 6.56px 11.14px -1.39px rgba(0, 0, 0, 0.15),
    inset 6.87px -9.84px 11.14px -1.39px rgba(0, 0, 0, 0.3),
    -13.73px 19.68px 8.35px -4.18px rgba(0, 0, 0, 0.6);
  border-radius: 30px;
}

.about-text {
  margin-left: 40%;
  margin-top: -32%;
}

.about-text h1 {
  color: #ffffff9f;
  margin-bottom: 1rem;
  font-size: 1.6rem;
  font-weight: 400;
}

.about-text h1 span {
  color: #c736cc;
}

.about-text h3 {
  font-size: 1rem;
  margin-bottom: 1rem;
  font-weight: 400;
  color: #cbced1;
}

.about-text p {
  font-family: 'Times New Roman', Times, serif;
  color: #ffffff9f;
  line-height: 1.8;
  margin-bottom: 2rem;
  padding-right: 80px;
}

.socials {
  display: flex;
  gap: 20px;
  padding-top: 40px;
}

.socials a svg {
  background: #fffffff3;
  padding: 1em;
  border-radius: 50%;
  height: 64px;
  width: 64px;
  box-sizing: border-box;
  flex-shrink: 0;
  display: grid;
  place-items: center;
  box-shadow: 0 12px 18px rgba(0, 0, 0, 0.3),
    inset 0 -21px 31.5px rgba(0, 0, 0, 0.3),
    inset 0 21px 31.5px rgba(255, 255, 255, 0.6);
}

.socials a::before {
  content: attr(data-social);
  position: absolute;
  background-color: var(--accent-color);
  color: #fff;
  text-decoration: none;
  padding: 0.5em 0.5em;
  border-radius: 100px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0, 0.5);
  transform: translateY(-30px) rotate(25deg);
  opacity: 0;
  transition: 400ms cubic-bezier(.42, 0, .44, 1.68);
}

.socials a:hover {
  fill: white;
}

.socials a:hover svg {
  fill: white;
  background: var(--accent-color);

}

.socials a::after {
  content: '';
  position: absolute;
  height: 0;
  width: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 10px solid var(--accent-color);
  transform: translateY(0) rotate(25deg);
  opacity: 0;
  transition: 200ms cubic-bezier(.42, 0, .44, 1.68);
}

.socials a:hover::before {
  transform: translateY(-65px) rotate(0);
  opacity: 1;
}

.socials a:hover::after {
  transform: translateY(-42px) rotate(0);
  opacity: 1;
}

.projects-wrapper {
  margin-top: 40px;
  height: 500px;
  padding: 6rem 0;
  background: #eeeeea;
  /* https://smoothshadows.com/#djEsMSw1LDAuNjQsMzcsMjUsMTksIzAzMDcxMiwjZTZlNmU2LCNjN2M3YzcsMw%3D%3D */
  box-shadow: inset -5.08px 9.53px 14.61px -1.83px rgba(0, 0, 0, 0.15),
    inset 7.61px -14.30px 14.61px -1.83px rgba(0, 0, 0, 0.3),
    -15.23px 28.60px 10.96px -5.48px rgba(0, 0, 0, 0.6);
  border-radius: 15px 15px;
  margin-left: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  height: 400px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: start;
}

.projects-title{
  padding-top: -50px;
  margin-top: -50px;
  font-size: 50px;
  align-items: center;
  color: #555;
}

.card {
  width: 80px;
  border-radius: .75rem;
  background-size: cover;
  cursor: pointer;
  overflow: hidden;
  border-radius: 2rem;
  margin: 0 10px;
  display: flex;
  align-items: flex-end;
  transition: .6s cubic-bezier(.28, -0.03, 0, .99);
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.8);
}

.card>.row {
  color: white;
  display: flex;
  flex-wrap: nowrap;
}

.card>.row>.icon {
  background: #223;
  color: white;
  border-radius: 50%;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

.card>.row>.description {
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  height: 80px;
  width: 520px;
  opacity: 0;
  transform: translateY(30px);
  transition-delay: .3s;
  transition: all .3s ease;
}

.description p {
  color: #b0b0ba;
  padding-top: 5px;
  margin-bottom: 20px;
}

.description h4 {
  text-transform: uppercase;
}

.projects input {
  display: none;
}

input:checked+label {
  width: 600px;
}

input:checked+label .description {
  opacity: 1 !important;
  transform: translateY(0) !important;
}

.contact-box {
  height: 700px;
  padding: 6rem 0;
  background: #0f172a;
  /* https://smoothshadows.com/#djEsMSw1LDAuNjQsMzcsMjUsMTksIzAzMDcxMiwjZTZlNmU2LCNjN2M3YzcsMw%3D%3D */
  box-shadow: 1px 1px 1px rgba(3, 7, 18, 0.13),
    3px 4px 6px rgba(3, 7, 18, 0.26),
    7px 9px 13px rgba(3, 7, 18, 0.38),
    12px 16px 24px rgba(3, 7, 18, 0.51),
    19px 25px 37px rgba(3, 7, 18, 0.64);
  border-radius: 15px 15px;
  margin-left: 5%;
  margin-top: 40px;
  color: #fff;
}

/*
  Contact me style
  */

body,
input,
textarea,
a {
  font-family: 'Roboto', sans-serif;
}

#section-wrapper {
  width: 100%;
  padding: 10px;
}

.box-wrapper {
  position: relative;
  display: table;
  width: 1100px;
  margin: auto;
  margin-top: 65px;
  border-radius: 30px;
}

.info-wrap {
  width: 35%;
  height: 551px;
  padding: 40px;
  margin-left: -10%;
  display: block;
  border-radius: 30px 0px 0px 30px;
  background: #0f172a 0%;
  color: #fff;
  box-shadow: inset -7.10px 7.04px 14.14px -1.77px rgba(0, 0, 0, 0.15),
    inset 10.65px -10.57px 14.14px -1.77px rgba(0, 0, 0, 0.3),
    -21.29px 21.13px 10.61px -5.30px rgba(0, 0, 0, 0.6);

}

.info-title {
  text-align: left;
  font-size: 28px;
  letter-spacing: 0.5px;
}

.info-sub-title {
  font-size: 18px;
  font-weight: 300;
  margin-top: 17px;
  letter-spacing: 0.5px;
  line-height: 26px;
}

.info-details {
  list-style: none;
  margin: 60px 0px;
}

.info-details li {
  margin-top: 25px;
  font-size: 18px;
  color: #fff;
}

.info-details li i {
  background: #F44770;
  padding: 12px;
  border-radius: 50%;
  margin-right: 5px;
}

.info-details li a {
  color: #fff;
  text-decoration: none;
}

.info-details li a:hover {
  color: #F44770;
}

.form-wrap {
  width: 75%;
  margin-top: -57.5%;
  margin-left: 32.5%;
  padding: 40px 25px 35px 25px;
  border-radius: 0px 30px 30px 0px;
  background: #ecf0f3;
  box-shadow: inset 6.97px 7.17px 14.14px -1.77px rgba(0, 0, 0, 0.15),
    inset -10.45px -10.76px 14.14px -1.77px rgba(0, 0, 0, 0.3),
    20.90px 21.52px 10.61px -5.30px rgba(0, 0, 0, 0.6);
}

.form-title {
  text-align: left;
  margin-left: 23px;
  font-size: 28px;
  letter-spacing: 0.5px;
}

.form-fields {
  display: table;
  width: 80%;
  padding: 15px 5px 5px 5px;
}

.form-fields input,
.form-fields textarea {
  border: none;
  outline: none;
  background: none;
  font-size: 18px;
  color: #555;
  padding: 20px 10px 20px 5px;
  width: 100%
}

.form-fields textarea {
  height: 102px;
  resize: none;
  width: 250px;
}

.form-group {
  width: 40%;
  float: left;
  padding: 0px 30px;
  margin: 14px 12px;
  border-radius: 25px;
  box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff;
}

.form-fields .form-group:last-child {
  width: 96%;
}

.submit-button {
  width: 96%;
  height: 60px;
  margin: 0px 12px;
  border-radius: 30px;
  font-size: 20px;
  ;
  font-weight: 700;
  outline: none;
  border: none;
  cursor: pointer;
  color: #fff;
  text-align: center;
  background: #F44770;
  box-shadow: inset 0.23px 4.59px 4.83px -0.60px rgba(0, 0, 0, 0.15),
    inset -0.35px -6.89px 4.83px -0.60px rgba(0, 0, 0, 0.3),
    0.70px 13.78px 3.62px -1.81px rgba(0, 0, 0, 0.6);
  transition: .5s;
}

.submit-button:hover {
  background: #31279d;
}

@media only screen and (max-width: 767px) {
  .box-wrapper {
    width: 100%;
  }

  .info-wrap,
  .form-wrap {
    width: 100%;
    height: inherit;
    float: none;
  }

  .info-wrap {
    border-radius: 30px 30px 0px 0px;
  }

  .form-wrap {
    border-radius: 0px 0px 30px 30px;
  }

  .form-group {
    width: 100%;
    float: none;
    margin: 25px 0px;
  }

  .form-fields .form-group:last-child,
  .submit-button {
    width: 100%;
  }

  .submit-button {
    margin: 10px 0px;
  }

}